body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f4f6f9;
    text-align: center;
}

.header {
    margin-top: 60px;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.header p {
    color: #666;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 60px auto;
    max-width: 1000px;
}

.upload-box,
.preview-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.08);
    width: 400px;
}

.canvas-container {
    position: relative;
    width: 100%;
    min-height: 400px;
}


#userImage {
    width: 100%;
    border-radius: 10px;
}

#clothingOverlay {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    cursor: move;
    z-index: 10;
}


.catalogue {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.catalogue img {
    width: 120px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.catalogue img:hover {
    transform: scale(1.05);
}


